image: openjdk:17-jdk-alpine3.14

clone:
  depth: full

definitions:
  caches:
    sonar: ~/.sonar/cache
  steps:
    - step: &build-test-sonar
        name: Build, test and analyze on MGG Sonar
        caches:
          - gradle
          - sonar
        script:
          # add executable permission to gradlew
          - chmod +x gradlew
          - ./gradlew --refresh-dependencies
#          - ./gradlew sonarqube

    - step: &build-deploy-azure-tomcat
        name: Build and upload to nexus and deploy to app service
        caches:
          - gradle
        script:
          # install curl to be used later
          - apk add curl
          # add executable permission to gradlew
          - chmod +x ./gradlew
          # generate the war file in build/libs folder and using the name defined in build.gradle
          # war { archiveName = "ocms.war" }
          - ./gradlew clean war
          # call azure api to upload the war file
          - curl -vvvv POST -H "Authorization:Basic ${TOKEN}" "https://ocmssitintraapp.scm.azurewebsites.net/api/wardeploy?name=ocms" --data-binary "@./build/libs/ocms.war"
    - step: &build-deploy-azure-tomcat-mggstaging
        name: Build and upload to nexus and deploy to app service
        caches:
          - gradle
        script:
          # install curl to be used later
          - apk add curl
          # add executable permission to gradlew
          - chmod +x ./gradlew
          - COMMIT_HASH=$(echo $BITBUCKET_COMMIT | cut -c 1-7)
          - VERSION="mggsit-$VERSION"
          - sed -i "s/version=.*/version=$VERSION/" src/main/resources/application-mggstaging.properties
          # generate the war file in build/libs folder and using the name defined in build.gradle
          # war { archiveName = "ocms.war" }
          - ./gradlew clean war
          # call azure api to upload the war file
          - curl -vvvv POST -H "Authorization:Basic ${TOKEN}" "https://ocmsstagintraapp.scm.azurewebsites.net/api/wardeploy?name=ocms" --data-binary "@./build/libs/ocms.war"
pipelines:
  # default:
  #   - step: *build-test-sonar
  branches:
    mggsit:
#      - step: *build-test-sonar
      - step: *build-deploy-azure-tomcat
    mggstaging:
#      - step: *build-test-sonar
      - step: *build-deploy-azure-tomcat-mggstaging
    master:
      - step: *build-test-sonar
      #- step: *build-nexus-deploy-tomcat
    steven/my-codes:
#      - step: *build-test-sonar
      - step: *build-deploy-azure-tomcat
